# This data should be pulled from the register itself but right now it is not
# fit for purpose (see RFC0018).
origin = "https://country.register.gov.uk"
name = "Country register"
description = "Country list provided by the Foreign Commonwealth Office of the UK Government."
publication_date = "2018-11-11"
id = "country"
organisation = { id = "govuk", name = "The UK Government" }
owner = { id = "FCO", name = "Foreign Commonwealth Office" }
copyright_holder = { id = "crown", name = "The Crown" }
license = "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"

# consumes from size 100, 203 and 208 which is the current latest
versions = {latest = true, pinned = [100, 203]}

[schema]
primary_key = ["_id"]

[[schema.attributes]]
id = "_checksum"
datatype = "string"
required = true

[[schema.attributes]]
id = "key"
alias = "_id"
description = "The ISO two-letter code for a country, in uppercase."
datatype = "string"
format = "[A-Z]{2}"
required = true

[[schema.attributes]]
id = "name"
datatype = "string"
required = true

[[schema.attributes]]
id = "official-name"
alias = "official_name"
datatype = "string"

[[schema.attributes]]
id = "citizen-names"
alias = "citizen_names"
datatype = "string"
separator = ";"

[[schema.attributes]]
id = "start-date"
alias = "start_date"
format = "yyyy-MM-dd"
datatype = "date"

[[schema.attributes]]
id = "end-date"
alias = "end_date"
format = "yyyy-MM-dd"
datatype = "date"
